<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <title>Titanic Passenger Visualisation</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static "dc.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>

        body {
            margin: 40px auto;
            width: 960px;
            min-height: 2000px;
        }

        #charts {
            padding: 10px 0;
        }

        .chart {
            display: inline-block;
            height: 151px;
            margin-bottom: 20px;
        }

        .reset {
            padding-left: 1em;
            font-size: smaller;
            color: #ccc;
        }

        .background.bar {
            fill: #ccc;
        }

        .foreground.bar {
            fill: steelblue;
        }

        .axis path, .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .axis text {
            font: 10px sans-serif;
        }

        .brush rect.extent {
            fill: steelblue;
            fill-opacity: .125;
        }

        .brush .resize path {
            fill: #eee;
            stroke: #666;
        }

        #pclass-chart {
            width: 60px;
        }

        #fare-chart {
            width: 280px;
        }

        #age-chart {
            width: 180px;
        }

    </style>

</head>
<body>
<div class="container">

    <h2>Titanic passengers dataset visualization</h2>

    <p>This visualization is created from Titanic passengers <a href="/dataset">dataset</a> using d3.js, crossfilter and
        dc.js. </p>

    <p>You can also filter it by age, fare and class</p>
    <div id="charts">

        <div id="age-chart" class="chart">
            <div class="title">Age</div>
        </div>

        <br>

        <div id="pclass-chart" class="chart">
            <div class="title">Class</div>
        </div>

        <div id="fare-chart" class="chart">
            <div class="title">Fare</div>
        </div>
        <div id="sexPieChart"></div>

    </div>
</div>

<script src="{% static 'crossfilter.v1.min.js' %}"></script>
<script src="{% static 'd3.v3.min.js' %}"></script>
<script src="{% static 'dc.js' %}"></script>

<script>
    //todo: possible improvement - use csv instead of json (for current dataset it is not substantial)
    d3.json("/dataset", function (error, passengers) {
        // removing passengers without age (age === null)
        passengers.forEach(function (pass, index) {
            if (pass.age === null) {
                passengers.splice(index, 1);
            }
        });

        var passenger = crossfilter(passengers),
                all = passenger.groupAll(),
                pclass = passenger.dimension(function (d) {
                    return d.pclass
                }),
                pclasses = pclass.group(),
                psex = passenger.dimension(function (d) {
                    return d.sex
                }),
                psexes = psex.group(),
                fare = passenger.dimension(function (d) {
                    return Math.min(d.fare, 520)
                }),
                fares = fare.group(function (d) {
                    return Math.floor(d / 20) * 20;
                }),
                age = passenger.dimension(function (d) {
                    return d.age
                }),
                ages = age.group(function (d) {
                    return Math.floor(d / 5) * 5;
                });

        // bar charts are implemented using barChart() function from given example: http://square.github.io/crossfilter/
        // todo: possible improvement - use dc.js for all charts

        var charts = [

            barChart()
                    .dimension(age)
                    .group(ages)
                    .x(d3.scale.linear().domain([0, 85]).rangeRound([0, 10 * 34])),

            barChart()
                    .dimension(pclass)
                    .group(pclasses)
                    .x(d3.scale.linear().domain([0, 4]).rangeRound([0, 10 * 4])),

            barChart()
                    .dimension(fare)
                    .group(fares)
                    .x(d3.scale.linear().domain([0, 520]).rangeRound([0, 10 * 26]))
        ];

        // pieChart is implemented with dc.js
        var sexPieChart = dc.pieChart("#sexPieChart");

        sexPieChart.width(100)
                .height(100)
                .innerRadius(0)
                .dimension(psex)
                .group(psexes.reduceCount())
                .renderLabel(true)
                .transitionDuration(0);

        // Given our array of charts, which we assume are in the same order as the
        // .chart elements in the DOM, bind the charts to the DOM and render them.
        // We also listen to the chart's brush events to update the display.
        var chart = d3.selectAll(".chart")
                .data(charts)
                .each(function (chart) {
                    chart.on("brush", renderAll).on("brushend", renderAll);
                });


        renderAll();

        // Renders the specified chart or list.
        function render(method) {
            d3.select(this).call(method);
        }

        // Whenever the brush moves, re-rendering everything.
        function renderAll() {
            chart.each(render);
            dc.renderAll();
        }

        window.filter = function (filters) {
            filters.forEach(function (d, i) {
                charts[i].filter(d);
            });
            renderAll();
        };

        window.reset = function (i) {
            charts[i].filter(null);
            renderAll();
        };

        // barChart() function from given example: http://square.github.io/crossfilter/
        function barChart() {
            if (!barChart.id) barChart.id = 0;

            var margin = {top: 10, right: 10, bottom: 20, left: 10},
                    x,
                    y = d3.scale.linear().range([100, 0]),
                    id = barChart.id++,
                    axis = d3.svg.axis().orient("bottom").ticks(10).tickFormat(d3.format("d")),
                    brush = d3.svg.brush(),
                    brushDirty,
                    dimension,
                    group,
                    round;

            function chart(div) {
                var width = x.range()[1],
                        height = y.range()[0];

                y.domain([0, group.top(1)[0].value]);

                div.each(function () {
                    var div = d3.select(this),
                            g = div.select("g");

                    // Create the skeletal chart.
                    if (g.empty()) {
                        div.select(".title").append("a")
                                .attr("href", "javascript:reset(" + id + ")")
                                .attr("class", "reset")
                                .text("reset")
                                .style("display", "none");

                        g = div.append("svg")
                                .attr("width", width + margin.left + margin.right)
                                .attr("height", height + margin.top + margin.bottom)
                                .append("g")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                        g.append("clipPath")
                                .attr("id", "clip-" + id)
                                .append("rect")
                                .attr("width", width)
                                .attr("height", height);

                        g.selectAll(".bar")
                                .data(["background", "foreground"])
                                .enter().append("path")
                                .attr("class", function (d) {
                                    return d + " bar";
                                })
                                .datum(group.all());

                        g.selectAll(".foreground.bar")
                                .attr("clip-path", "url(#clip-" + id + ")");

                        g.append("g")
                                .attr("class", "axis")
                                .attr("transform", "translate(0," + height + ")")
                                .call(axis);

                        // Initialize the brush component with pretty resize handles.
                        var gBrush = g.append("g").attr("class", "brush").call(brush);
                        gBrush.selectAll("rect").attr("height", height);
                        gBrush.selectAll(".resize").append("path").attr("d", resizePath);
                    }

                    // Only redraw the brush if set externally.
                    if (brushDirty) {
                        brushDirty = false;
                        g.selectAll(".brush").call(brush);
                        div.select(".title a").style("display", brush.empty() ? "none" : null);
                        if (brush.empty()) {
                            g.selectAll("#clip-" + id + " rect")
                                    .attr("x", 0)
                                    .attr("width", width);
                        } else {
                            var extent = brush.extent();
                            g.selectAll("#clip-" + id + " rect")
                                    .attr("x", x(extent[0]))
                                    .attr("width", x(extent[1]) - x(extent[0]));
                        }
                    }

                    g.selectAll(".bar").attr("d", barPath);
                });

                function barPath(groups) {
                    var path = [],
                            i = -1,
                            n = groups.length,
                            d;
                    while (++i < n) {
                        d = groups[i];
                        path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
                    }
                    return path.join("");
                }

                function resizePath(d) {
                    var e = +(d == "e"),
                            x = e ? 1 : -1,
                            y = height / 3;
                    return "M" + (.5 * x) + "," + y
                            + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
                            + "V" + (2 * y - 6)
                            + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
                            + "Z"
                            + "M" + (2.5 * x) + "," + (y + 8)
                            + "V" + (2 * y - 8)
                            + "M" + (4.5 * x) + "," + (y + 8)
                            + "V" + (2 * y - 8);
                }
            }

            brush.on("brushstart.chart", function () {
                var div = d3.select(this.parentNode.parentNode.parentNode);
                div.select(".title a").style("display", null);
            });

            brush.on("brush.chart", function () {
                var g = d3.select(this.parentNode),
                        extent = brush.extent();
                if (round) g.select(".brush")
                        .call(brush.extent(extent = extent.map(round)))
                        .selectAll(".resize")
                        .style("display", null);
                g.select("#clip-" + id + " rect")
                        .attr("x", x(extent[0]))
                        .attr("width", x(extent[1]) - x(extent[0]));
                dimension.filterRange(extent);
            });

            brush.on("brushend.chart", function () {
                if (brush.empty()) {
                    var div = d3.select(this.parentNode.parentNode.parentNode);
                    div.select(".title a").style("display", "none");
                    div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
                    dimension.filterAll();
                }
            });

            chart.margin = function (_) {
                if (!arguments.length) return margin;
                margin = _;
                return chart;
            };

            chart.x = function (_) {
                if (!arguments.length) return x;
                x = _;
                axis.scale(x);
                brush.x(x);
                return chart;
            };

            chart.y = function (_) {
                if (!arguments.length) return y;
                y = _;
                return chart;
            };

            chart.dimension = function (_) {
                if (!arguments.length) return dimension;
                dimension = _;
                return chart;
            };

            chart.filter = function (_) {
                if (_) {
                    brush.extent(_);
                    dimension.filterRange(_);
                } else {
                    brush.clear();
                    dimension.filterAll();
                }
                brushDirty = true;
                return chart;
            };

            chart.group = function (_) {
                if (!arguments.length) return group;
                group = _;
                return chart;
            };

            chart.round = function (_) {
                if (!arguments.length) return round;
                round = _;
                return chart;
            };

            return d3.rebind(chart, brush, "on");
        }
    })
</script>

